body {
    background: linear-gradient(to right, #8e9eab, #eef2f3);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.03em;
  }

  .card{
      background-color:rgb(225, 241, 241);
      border-radius: 10px;
      overflow: hidden;
      position: relative;
      width: 400px;
      height: auto;
      box-shadow: 1px 1px 1px 4px; 
  }

  img{
      max-width: 100%;
  }
  p{
        max-width: fit-content;
        padding: 5px;
  }

  .title{
      display: flex;
      place-content: center;
      font-weight: bolder;
  }

  span{
      padding: 10px;
  }
  .button{
     position:relative;
     width: 100px;
     margin-left: 150px;
     display: inline-block;
     border-radius: 5px;
     background-color: lightblue;
     margin-bottom: 10px;
     transition: background-color 2s ease-in-out;
  }

  .button:hover{
      background-color: black;
      color: aliceblue;
  }
  
 .heart{
     position: absolute;
     display: flex;
     z-index: 10;
     right: 0;
     padding: 1rem;
     
 }

 .heart img:hover{
    transform: scale(1.9);
    transition: 0.3s;

 }

 @keyframes efecto{
    0%{
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.85);
    }
    100%{
        box-shadow: 0 0 0 25px rgba(0, 0, 0, 0);
    }
}