/* Fonts from Google Fonts - more at https://fonts.google.com */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family|Roboto:wght@100&family|Source+Sans+3:wght@200&display=swap');


@media screen and (max-width: 550px) {

  .home-grid {
    display: block;
  }

  
}

.home-grid,
nav ul,
.imgHome {
  display: block;
}

  ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

header {
  align-items: center;
  display: grid;
  grid-template-columns: 400px auto;
  grid-template-rows: 200px auto;

  background-color: #84CCCE;
}

.logo-box {
  background-color: #ffffff;
  border: 8px solid #26597e;
  border-radius: 40px 50px 10px 10px;
   max-width: 90%;
}

.logo-box img{
  padding: 2rem;
  margin-left: 1.5rem;;
}


nav a {
  color: #112031;
  text-decoration: none;
  font-weight: bolder;
  
}

a:hover {
  color: #00dabd;
  background-color: #ffffff;
  
}


#content {
  background-color: #ffffff;
  width: 960px;
  margin: 0 auto;
  padding: 1.9em;
}

.imgHome {
  display: grid;
  grid-template-columns: 1fr 1fr;
  
}
.imgHome img {
  width: 100%;
  grid-column: 1 / -1; /* the -1 is just a fancy way to say "span all the columns" */
  grid-row: 1/6;
}

.home-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 1em;
}


.page2{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 1em;
}






body {
  background-color: #26597e;
  font-family: Roboto, Monserrat, SourceSans3;
  padding: 5px 25px;
  font-size: 18px;
  margin: 0;
  color: #000000;
}

h1 {
  font-family: Monserrat, Roboto, SourceSans3;
  font-size: 32px;
  color: white
}


h2 {
  background-color: #84CCCE;
  font-family: Monserrat, Roboto, SourceSans3;
  padding: 1em;
  font-size: 2em;
  line-height: 0.5em;
  margin: 30px 0 0 0;
  color: #041c32;
  border-top: 5px double;
  border-bottom: 5px double;
  line-height: 1em;
}




p {
  padding: 1em;
  margin: 0 0 30px 0;
  font-family: Roboto, Monserrat, SourceSans3;
}

h3 {
  background-color: #ffffff;
  font-family: Monserrat, Roboto, SourceSans3;
  padding: 0.5em;
  font-size: 2em;
  line-height: 0.5em;
  margin: 10px 100px 0;
  color: #041c32;
  line-height : 25px;
}


.action {
  margin: 4em 2em;
  padding: 0.5em;
  text-align: center;
  background-color: rgba(240, 240, 240, 0.5);
  font-size: 0.8em;
  grid-column: 2;
  grid-row: 1;
}
.action a {
  line-height: 2em;
  width: 10em;
  background-color: #ffffff;
  font-size: 1.5em;
  padding: 0.5em;
  text-decoration:none;
  color: #000000;
  border: 1px solid;
}

.homeTitle {

  font-size: 2em;
  margin: 30px 0 0 0;
  grid-column: 1/4;
  grid-row: 1/2;
}

.homeParagraph {
  grid-column: 1/4;
  font-size: 1.2em;
  grid-gap: 1em;
}

.homeTitle2 {
  
  font-size: 2em;
   
  grid-column: 4/6;
grid-row: 3/4;
}

.homeParagraph2 {
  grid-column: 4/6;
  grid-row: 4/6;
  font-size: 1.2em;
  grid-gap: 0em;
  margin: -20px 0;
 
}

.homeRightImg {

  grid-column: 4/6;
  grid-row: 1/3;
  grid-gap: 1em;
  border: 2px solid #16425b;
  padding: 5px;
  box-shadow: 5px 5px 5px #787777;
    align-self: center;
   margin-top: -10em;
  
}

.homeLeftImg {
   max-width: 70%;
  grid-column: 1/4;
  grid-row: 3/5;
  grid-gap: 1em;
border: 2px solid #16425b;
    box-shadow: 5px 5px 5px #787777;

  padding: 5px;
    align-self: center;
  margin-top: -3em;
}

.homeRightImg img 
{
  max-width: 100%;
  }

.homeLeftImg img

{
  max-width: 100%;
  }
  
.courtLeftImg{
  
  grid-column: 1/3;
  grid-row: 1/3;
  grid-gap: 1em;
border: 2px solid #16425b;
  padding: 5px;
  box-shadow: 5px 5px 5px #787777;
    align-self: center;
   margin-top: -4em;
}


.courtTitle{
  
  font-size: 2em;
   
  grid-column: 3/8;
grid-row: 1/2;
}

.courtParagraph{
  grid-column: 3/6;
  grid-row: 2/2;
  font-size: 1.2em;
  grid-gap: 4em;
}

.courtheadline{

  font-size: 2em;
  margin: 30px 0 0 0;
  grid-column: 1/4;
  grid-row: 3/4;
}

.courtParagraph2{
  grid-column: 1/4;
  grid-row: 4/8;
  font-size: 1.2em;
  grid-gap: 0em;
}

.courtRightImg{
  max-width: 100%;
  grid-column: 4/6;
  grid-row: 4/5;
  grid-gap: 1em;
  border: 2px solid #16425b;
  padding: 5px;
  box-shadow: 5px 5px 5px #787777;
    align-self: center;
   margin-top: -7.5em;
   
}


.courtRightImg img 
{
  max-width: 100%;
  }

.courtLeftImg img

{
  max-width: 100%;
  }

.bannerPadel img {
  width: 100%;
  grid-column: 1 / -1; /* the -1 is just a fancy way to say "span all the columns" */
  grid-row: 1/6;
}

.container {
  margin: 4em 2em;
  padding: 0.5em;
  text-align: center;
  background-color: rgba(240, 240, 240, 0.5);
  font-size: 0.8em;
  grid-column: 2;
  grid-row: 1;

}




nav ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(6em, 1fr));
  margin: 0;
  list-style: none;
}

footer {
  height: 55px;
  display: grid;
  grid-gap: 1em;
  width: 100%;
  padding: 1em 0;
  color: #112031;
  background-color: #caf0f8;
  text-align: right;
  grid-template-columns: 1fr 1fr;
  
}

footer p {
  text-align: left;
}

.social {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  

  
  justify-self: center;
 
  grid-column: 5/6;
    width: 100%;
    text-align: right;
}

.social img {
  height: 55px;
  padding: 0.5em;
}




form {
  display: block;
  margin: 30px auto 30px;
  width: 400px;
  /* Form outline */
  padding: 1em;
  border: 1px solid #CCCCCC;
  border-radius: 1em;
  box-shadow: 5px 10px #9e8e74;
    background-color: #F1F1F1;
  
}



form li + li {
  margin-top: 1em;
}

label {
 
  display: inline-block;
  width: 90px;
  text-align: right;
}

input,
TextArea {
  
  font: 1em sans-serif;


  width: 300px;
  box-sizing: border-box;

 
  border: 1px solid #999999;
}

TextArea {
  
  vertical-align: top;

  /* Provide space to type some text */
  height: 5em;
}

input:focus,
TextArea:focus {

  border-color: #000000;
}



.button {
  /* Align buttons with the text fields */
  padding-left: 90px; /* same size as the label elements */
}

button {
  
  margin-left: .5em;
}

#feedback {
    background-color: antiquewhite;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: .5em;
    /* make this element invisible until we are ready for it */
    display: none;
        
}
.moveDown {
    margin-top: 3em;
}