* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
  }

    header a:hover {  
    background-color: rgb(107, 223, 103);
    }

  body{
    background-color: black;
    color: aliceblue;
  }

  h3{
    color: rgb(107, 223, 103);
  }
  header img{
    width: 100px;
    height: auto;
  }

  header ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    top: 50px;
    right: 0;
    overflow: hidden;
    padding: 2rem;
  }

  header ul a{
    display: block;
    color: white;
    padding: 0.5rem 1rem;
    text-decoration: none;
  }

  nav {
  
    margin: 0 2rem;
    flex: 1 1 25%;
    position: relative;
     text-align: right;
    }


    header {

      display: flex;
      margin: auto;
      align-items: center;
      max-width: 1200px;
    }