* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: antiquewhite;
}

p{
  padding: 3rem;
}
 
ul{
  list-style: none;
	padding: 0;
	margin: 0;
  display: flex;
	top: 50px;
	right: 0;
	overflow: hidden;
}

ul a{
  display: block;
	color: navy;
	padding: 0.5rem 1rem;
	text-decoration: none;
}

nav a {
  
  color: #e75d23;
  display: block;
	padding: 0.5rem 1rem;
	text-decoration: none;
  }

header a:hover {  
background-color: goldenrod;
}
nav {
  
  margin: 0 2rem;
  flex: 1 1 25%;
  position: relative;
   text-align: right;
  }
  .navigation li {
    display: none;
  }
h3 {
  color: brown;
}
header {
  background-color: #a9ddec;
  display: flex;
  margin: auto;
  align-items: center;
  max-width: 1200px;
  border-bottom: 1px solid #ccc;
}
.logo img {
	margin: 0 .25rem 0 1rem;
	width: 90px;
	height: auto;
}


.sectionOne{
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1rem;

}

.sectionTwo img{
  grid-row: 1/2;
}

.sectionTwo{
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1rem;

}

.divTwo{
  grid-column:2/3 ;
}

footer {
  background-color: #a9ddec;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row: 3/4;
  grid-column: 2/3;
  grid-auto-flow: 1fr;
}

a {
  color: white;
}

footer img {
  height: 40px;
  width: auto;
}
h4{
  padding: 2rem;
}


.conteinerFooter{
  display: flex;
  grid-column: 3/4;
  text-align: center;
 
}

.socialMedia{
  margin: auto;
}


.home-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 1em;
}

.page-headline{
  text-align: center;
 background-color: #eee8aa;
  font-size: 2em;
grid-column: 1/2;

}

.page-paragraph{
  text-align: justify;
 margin: 1px 0 0 0;
 grid-column: 1/2;
 font-size: 1.2em;
 
 }

.page-img{
  display: block;
   width: 100%;
   grid-column: 1/2;
   grid-gap: 1em;
  border: 2px solid #16425b;
  padding: 5px;
  box-shadow: 5px 5px 5px #787777;  
  }


  details{
    background: #ebd5d5;
    padding: 1rem;
    margin: 0.5rem;
    border-radius: 6px;
    cursor: pointer;
  }

  summary{
    list-style: none;
    font-weight: bold;
  }

  summary::before{
    content: '+';
    padding-right: 1rem;
  }

  details[open] summary::before{
    content: '-';
  }

