* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;

}


 
ul{
  list-style: none;
	padding: 0;
	margin: 0;
  display: flex;
	top: 50px;
	right: 0;
	overflow: hidden;
}

ul a{
  display: block;
	color: navy;
	padding: 0.5rem 1rem;
	text-decoration: none;
}

nav a {
  
  color: #e75d23;
  display: block;
	padding: 0.5rem 1rem;
	text-decoration: none;
  }

a:hover { color: blue; 
background-color: gold;
}
nav {
  
  margin: 0 2rem;
  flex: 1 1 25%;
  position: relative;
   text-align: right;
  }
  .navigation li {
    display: none;
  }
h3 {
  color: blue;
}
header {

  display: flex;
  margin: auto;
  align-items: center;
  max-width: 1200px;
  border-bottom: 1px solid #ccc;
}
.logo img {
	margin: 0 .25rem 0 1rem;
	width: 64px;
	height: auto;
}


.sectionOne{
  display: grid;
  grid-template-columns: 1fr 1fr;

}

.sectionTwo img{
  grid-row: 1/2;
}

.sectionTwo{
  display: grid;
  grid-template-columns: 1fr 1fr;

}

.divTwo{
  grid-column:2/3 ;
}

footer {
  background-color: #57c7a2;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row: 3/4;
  grid-column: 2/3;
  grid-auto-flow: 1fr;
}

a {
  color: white;
}

footer img {
  height: 40px;
  width: auto;
}



.conteinerFooter{
  display: flex;
  grid-column: 3/4;
  text-align: center;
 
}

.socialMedia{
  margin: auto;
}


